# environment stuff
venv/
.venv/

# config / settings
config/settings.yaml
config/account_mapping.json
utils/watch_list.json
todiscord.txt
logs/

# excel stuff
excel/
!excel/example-ReverseSplitLog.xlsx

# other system stuff
utils/__pycache__
test*
.vscode/
*.zip


