# environment stuff
venv/
# environment stuff
venv/
.venv/
*.env
!example.env
.myvenv
*myvenv


# config / settings
config/settings.yaml
config/account_mapping.json
utils/watch_list.json
todiscord.txt
logs/
*.db

# excel stuff
*.xlsx
!example-ReverseSplitLog.xlsx

# random scripts and files
/untracked/

# other system stuff
dev/
*__pycache__
test*
.vscode/
*.zip
tests/*
*.json
*.yaml
!example-settings.yaml

RSAssistant-backup