services:
  rsassistant:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: RSAssistant
    restart: unless-stopped
    env_file:
      - ./config/.env
    volumes:
      - ./volumes/logs:/app/volumes/logs   # Persist logs
      - ./volumes/db:/app/volumes/db       # Persist database
      - ./volumes/excel:/app/volumes/excel # Persist Excel
      - ./volumes/cache:/app/volumes/cache # Persist price cache
      - ./config:/app/config               # Mount unified config directory
    environment:
      TZ: America/New_York
      ENVIRONMENT: production
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "1.0"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
       test: ["CMD", "cat", "/app/volumes/logs/heartbeat.txt"]
       interval: 60s
       timeout: 10s
       retries: 3

volumes:
  db_data:
